@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide{
  scrollbar-width: none;
}
*{margin: 0;padding: 0;

  text-decoration: none !important;list-style-type:none;box-sizing: border-box;}
ul,h6,h5,h4,h3,h2,h1,p{padding: 0;margin: 0;}

#hoverimage:hover{
    transform: scale(1.05);
    transition: transform 0.7s ease;

}
#hoverimage{
    transform: scale(1.0);
    transition: transform 0.7s ease;
}
  a{
    text-decoration: none;
    color: black;
  }
.cut-text {
    position: relative;
    display: inline-block;
    color: black;
    opacity: 0.75;
  }
  
  .cut-text::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: black;
    z-index: 0;
  }
  
  .cut-text {
    position: relative;
    z-index: 1;
  }
  

  .image-container {
    position: relative;
    width: 100%;
  }
  .image-container::after {
    position: absolute;
    width: auto;
    border-radius: 4px;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 7px;
  }


  .image-container1 {
    position: relative;
    width: 100%;
  }
  .image-container1::after {
    position: absolute;
    width: auto;
    border-radius: 4px;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 7px;
  }

  .image-container2 {
    position: relative;
    width: 100%;
  }
  .image-container2::after {
    position: absolute;
    width: auto;
    border-radius: 4px;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 7px;
  }

  .image-container3 {
    position: relative;
    width: 100%;
  }
  .image-container3::after {
    position: absolute;
    width: auto;
    border-radius: 4px;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 7px;
  }

  .image-container4 {
    position: relative;
    width: 100%;
  }
  .image-container4::after {
    position: absolute;
    width: auto;
    border-radius: 4px;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 7px;
  }

  .image-container5 {
    position: relative;
    width: 100%;
  }
  .image-container5::after {
    position: absolute;
    width: auto;
    border-radius: 4px;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 7px;
  }

  /* // Carousel  */

  .carousel-control {
    background-color: white;
    border-radius: 50%; /* Makes it circular */
    height: 30px; /* Height of the circular button */
    width: 30px; /* Width of the circular button */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8; /* Optional: make it slightly transparent */
  }
  
  .carousel-control:hover {
    opacity: 1; /* Full opacity on hover */
  }
  
  .carousel-control-icon {
    width: 15px; /* Adjust icon size */
    height: 15px; /* Adjust icon size */
  }

/* Category  */

#Footer{
  color: black;
  background-image: url('/footer.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#navbar{
  background-image: url('/navbar.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(17, 16, 16);
}
#Payment{
  background-image: url('/navbar.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(17, 16, 16);
}
#Product{
  background-image: url('/navbar.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(17, 16, 16);
}
#MiddleImage{
  background-image: url('/footer.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(17, 16, 16);
}
/* #AdminImage{
 background-color: #C2B280;
  color: white;
} */
#AdminImage{
  background-image: url('/admin.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(17, 16, 16);
}
.WhiteMat{
  background-image: url('/white.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(17, 16, 16);
}
#AboutBanner{
  background-image: url('/green.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(17, 16, 16);
}
#Team{
  background-image: url('/team.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(17, 16, 16);
}
#vegetable{
  background-image: url('/wooden.png');
  padding: 20px;
  color: black;
}
#wooden{
  background-image: url('/bhoo.jpg');
  color: black;
}
#product{
  background-image: linear-gradient(to bottom,#fbc02d 50%,  #fff59d 50%);
  color: black;
}


/* styles/global.css */
.card-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.card-body img {
  width: 50px;
  height: auto;
  margin-bottom: 10px;
}

@media (max-width: 480px) {
  #Display {
    display: none;
  }
  #DisplaySlide {
    width: 98%;
  }
  .responsive-logo {
    width: 90 !important;
    height: 90px !important;
  }

  .responsive-image {
    width: 100px !important;
    height: 100px !important;
    padding: 0.5rem !important;
  }

  .responsive-text {
    font-size: 13px !important;
    margin: 0rem 0 !important;
    padding: 0rem !important;
  }

  .responsive-price {
    font-size: 13px !important;
    margin: 0rem 0 !important;
    padding: 0rem !important;
  }

  #MostData{
    width: 98%;
  }

  #VegetableImg{
    /* width: 300px !important;
    height: 300px !important; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


#ProductImage{
  background: linear-gradient(to bottom, #f9dc67e0 35%, #ffffff 0%);

}
#mostProduct{
  background: linear-gradient(to bottom, #ffffff 40%, #f9dc67e0 0%);

}


/* Discount Down */

/* Container holding the product and discount */
.product-container {
  position: relative;
  display: inline-block;
}
.discount-badge {
  position: absolute;
  top: 10px;
  right: 10px; 
  background-color: rgba(0, 128, 0, 0.671);
  color: white;
  padding: 10px 8px;
  border-radius: 50%;
  font-size: 10px;
  font-weight: bold;
}

#hoverProduct {
  border: 1px solid transparent;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  transform: scale(1);
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.15) !important;
}
#hoverProduct:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}
#catProduct {
  border: 1px solid transparent;
  transform: scale(1);
  transition: all 0.3s ease;
  cursor: pointer;
}
#catProduct:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.15) !important;
  transform: scale(1.05);
  transition: all 0.3s ease;
  cursor: pointer;
}

/* Running Strip */
.stripContainer {
  background-color: #FFFFFF; /* Dark background */
  color: #000000; /* White text color */
  height: 26px; /* Adjust the height as needed */
  display: flex;
  align-items: center;
  overflow: hidden; /* Ensure overflowing content is hidden */
  white-space: nowrap;
}

.marquee {
  display: inline-flex; /* Ensure text doesn't force wider than the container */
  animation: marquee 30s linear infinite; /* Control speed with 30s */
}

.marquee span {
  margin-right: 5vw; /* Dynamic spacing between items based on viewport width */
  white-space: nowrap; /* Prevent line breaks */
}

@keyframes marquee {
  from {
    transform: translateX(100%); /* Start from outside right */
  }
  to {
    transform: translateX(-100%); /* Move completely outside the left */
  }
}

/* Image Collage */

.image-collage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-image {
  width: 400px;
  height: 400px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
}

.thumbnail-section {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.thumbnail {
  width: 120px;
  height: 120px;
  cursor: pointer;
  border: 2px solid #ccc;
  margin: 0 5px;
}

.thumbnail:hover {
  border-color: #000;
}


#Admin {
  transform: scale(1);
  transition: all 0.5s ease-in-out; /* Added 's' for seconds */
}

#Admin:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  transition: all 0.5s ease-in-out; /* Added 's' for seconds */
}
/* Quill Text Field */
.ql-editor {
  color: white;
}
.ql-toolbar button {
  color: white;
}
.ql-container {
  background-color: transparent;
}









  
  
  